@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    display: flex;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    background-color: darkslateblue;
    color: white;
    align-items: center;
}

.App {
    margin-top: 20vh;
}

h1, h3 {
    text-align: center;
}

h3 {
    font-weight: normal;
}

#time-zone-label {
    text-decoration: underline;
}

#clock-header {
    font-size: 50px;
}

#clock {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

#clock-div {
    border: 4px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 0 5em 0 5em;
}